<div fxLayout="column">
    <div>
        <h1>Buscador de Heroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div>
        <h3>Buscador</h3>
        <mat-form-field class="example-full-width">
            <input type="text"
                    placeholder="Ingrese nombre"
                    aria-label="Number"
                    matInput
                    [(ngModel)]="termino"
                    [matAutocomplete]="auto"
                    (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{heroe.superhero}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>